*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

.classpath
.idea
.project
.settings/*
/adapter/target/
/command/target/
/chain-of-responsibility/target/
/builder/target/
/composite/target/
/bridge/target/
/factory/target/
/facade/target/
/decorator/target/
/flyweight/target/
/interpreter/target/
/mvc/target/
/memento/target/
/prototype/target/
/observer/target/
/mediator/target/
/proxy/remote-proxy-client/target/